@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Baloo+Bhai+2:wght@400..800&family=Bigshot+One&family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FCFBFB;
  --foreground: #171717;
  --blue:#1B225D;
  --orange:#FF6666;
  --gray:#EAE9E9;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: var(--foreground);
  background: var(--gray);
  font-family: "Baloo Bhai 2", serif;
  font-optical-sizing: auto;
}

body.no-scroll {
  overflow: hidden;
}

h1{
  font-size: 8rem;
  line-height: 8rem;
  @media screen and (max-width: 768px){
    font-size: 4rem;
    line-height: 4rem;
  }
}

h2,.heading1,.heading2{
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--blue);
  @media screen and (max-width: 768px){
    font-size: 3rem;
    line-height: 4rem;
  }
}

.h-90{
  height: 90vh;
}

.h-80{
  height: 80vh;
}

blockquote{
  font-size: 3.75rem;
  line-height: 4.5rem;
  font-weight: 300;
  color: var(--background);

  @media screen and (max-width: 992px){
    font-size: 2.75rem;
    line-height: 3rem;
  }

  cite{
    font-size: 1rem;
    font-weight: 500;
  }
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

section {
  padding: 4rem;
  width: 100%;

  min-height: -webkit-fill-available; 
  min-height: 100vh;
  

  @media screen and (max-width: 992px){
    padding: 2rem;
  }
}

.btn{
  &.primary{
    background: var(--blue);
    color: var(--background);
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
      background: #2c3da5;
    }
  }
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

svg{
  width: 100%;
  height: 100%;
}

.special-font{
  font-family: "Bigshot One", serif;
  font-weight: 400;
  font-style: normal;
}
