@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Baloo+Bhai+2:wght@400..800&family=Bigshot+One&family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FCFBFB;
  --foreground: #171717;
  --blue:#1B225D;
  --orange:#FB8569;
  --gray:#EAE9E9;
  --dark:var(--foreground);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

html {
  scroll-behavior: smooth;
}

body {
  color: var(--blue);
  background: var(--gray);
  font-family: "Baloo Bhai 2", serif;
  font-optical-sizing: auto;
}

body.no-scroll {
  overflow: hidden;
}

h1{
  font-size: 5rem;
  line-height: 5rem;
}

h2{
  font-size: 3.125rem;
  line-height: 4rem;
  @media screen and (min-width: 768px){
    font-size: 3.3vw;
    line-height: 1em;
  }
}

.heading1,.heading2{
  font-size: 3.125rem;
  line-height: 4rem;
  color: var(--blue);
  @media screen and (min-width: 768px){
    font-size: 2.5vw;
    line-height: 1.5em;
  }
}

h3{
  font-size: 1.5rem;
  font-weight:200;
  /*font-family: 'Bigshot One', cursive;*/
  @media screen and (min-width: 768px){
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h4{
  font-size: 3rem;
  font-weight:200;
  font-family: 'Bigshot One', cursive;
  @media screen and (min-width: 768px){
    font-size: 2.5rem;
  }
}

.h-90{
  height: 90vh;
}

.h-80{
  height: 80vh;
}

blockquote{
  font-size: 3.75rem;
  line-height: 4.5rem;
  font-weight: 300;
  color: var(--background);

  @media screen and (max-width: 992px){
    font-size: 2.75rem;
    line-height: 3rem;
  }

  cite{
    font-size: 1rem;
    font-weight: 500;
  }
}

.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}

section {
  padding: .5rem;
  width: 100%;

  min-height: -webkit-fill-available; 
  min-height: 100vh;

}

.btn{
  &.primary{
    background: var(--blue);
    color: var(--background);
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
      background: #2c3da5;
    }
  }
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

svg{
  width: 100%;
  height: 100%;
}

.special-font{
  font-family: "Bigshot One", serif;
  font-weight: 400;
  font-style: normal;
}

.conexion-left::before{
  content: '';
  margin-left: 263px;
  position: absolute;
  margin-top: 150px;
  width: 180px;
  height: 35px;
  background-image: url('/images/icons/connect.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.conexion-1::before{
  content: '';
  position: absolute;
  margin-left: 239px;
  margin-top: 52px;
  width: 250px;
  height: 135px;
  background-image: url('/images/icons/connect-1.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.conexion-2::before{
  content: '';
  position: absolute;
  margin-left: 242px;
  margin-top: 200px;
  width: 250px;
  height: 135px;
  background-image: url('/images/icons/connect-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px){
  .conexion-left::before{
    display: none;
  }

  .conexion-1::before{
    display: none;
  }

  .conexion-2::before{
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

ul.custom-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul.custom-list li {
  list-style-type: none;
  margin-left: 20px;
}

ul.custom-list li::before {
  content: '';
  display: inline-block;
  width: 16px; 
  height: 16px; 
  background-image: url('/images/icons/check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}