.contact_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
    }
}

.custom_bg{
    background: url('/images/draw-1.svg') no-repeat, #e2dfdf;
    background-size: cover;
    background-position: center;
}